### import packages

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
from time import sleep
import csv
from lxml import etree
import pandas as pd
import numpy as np
from selenium.webdriver.common.by import By

print("Finish importing packages")

Finish importing packages

### login to linkedin

In [2]:
# provide chromedriver path

PATH = "C:\Webdrivers\Chromedriver 69\chromedriver.exe"


# Open Chrome and Access Linkedin login site

driver = webdriver.Chrome(PATH)
sleep(2)

login_url = 'https://www.linkedin.com/login'
driver.get(login_url)
print('- Finish initializing a driver')
sleep(10)


# Key in login credentials

email_field = driver.find_element_by_id('username')
email_field.send_keys('ashwin.ghonmode@randstadsourceright.ca')
print('- Finish keying in email')
sleep(10)

password_field = driver.find_element_by_name('session_password')
password_field.send_keys('Randstad@321')
print('- Finish keying in password')
sleep(3)


# Click the Login button

signin_field = driver.find_element_by_xpath('//*[@id="organic-div"]/form/div[3]/button')
signin_field.click()
sleep(3)

<ipython-input-2-e4bf6af71043>:8: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

- Finish initializing a driver

<ipython-input-2-e4bf6af71043>:19: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  email_field = driver.find_element_by_id('username')

- Finish keying in email

<ipython-input-2-e4bf6af71043>:24: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  password_field = driver.find_element_by_name('session_password')

- Finish keying in password

<ipython-input-2-e4bf6af71043>:32: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  signin_field = driver.find_element_by_xpath('//*[@id="organic-div"]/form/div[3]/button')

### Scraping Manpower's info

In [3]:
# provide manpower group's people page url

url = 'https://www.linkedin.com/company/manpowergroup/people/'

driver.get(url)
sleep(5)

In [12]:
driver.find_elements_by_xpath('//h2[@class="t-20 t-black t-bold"]')[0].text

<ipython-input-12-15dec8d47f68>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  driver.find_elements_by_xpath('//h2[@class="t-20 t-black t-bold"]')[0].text

'73,024 employees'

In [10]:
# save total no. employees from url 

total_employees = driver.find_elements_by_xpath('//h2[@class="t-20 t-black t-bold"]')
print('Total no. of employees in Manpower are: ',total_employees[0].text)

Total no. of employees in Manpower are:  73,024 employees

<ipython-input-10-64c2379842f2>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  total_employees = driver.find_elements_by_xpath('//h2[@class="t-20 t-black t-bold"]')

In [10]:
# storing number of employees
employees = []
for emp_count in driver.find_elements_by_xpath('//strong'):
    employees.append(emp_count.text)
#     sleep(2)


    
# storing country they live in 
countries = []
for country in driver.find_elements_by_xpath("//span[@class='org-people-bar-graph-element__category']"):
    countries.append(country.text)
#     sleep(2)

<ipython-input-10-7eadb48fbe99>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for emp_count in driver.find_elements_by_xpath('//strong'):
<ipython-input-10-7eadb48fbe99>:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for country in driver.find_elements_by_xpath("//span[@class='org-people-bar-graph-element__category']"):

In [14]:
# creating a dataframe form list

manpower_employee_info = pd.DataFrame( {
    
    'No. of Employees':employees,
    'Country':countries
})

In [16]:
manpower_employee_information = manpower_employee_info[:15]
manpower_employee_information

   No. of Employees                 Country
0            19,789           United States
1             6,548                  France
2             4,873                   India
3             3,262                   Italy
4             2,858          United Kingdom
5             2,281                  Sweden
6             1,943                Portugal
7             1,866                  Brazil
8             1,821                    Peru
9             1,447                   Spain
10            1,431  Greater Milwaukee Area
11            1,191                  Canada
12            1,070                 Germany
13              894             Netherlands
14              621                  Poland

In [18]:
manpower_employee_education = manpower_employee_info[15:30]
manpower_employee_education.reset_index(inplace=True)

In [19]:
manpower_employee_education

    index No. of Employees                                       Country
0      15              261                         University of Phoenix
1      16              228             University of Wisconsin-Milwaukee
2      17              172              Università degli Studi di Milano
3      18              160              Università degli Studi di Torino
4      19              134          Università Cattolica del Sacro Cuore
5      20              123                   Sapienza Università di Roma
6      21              105              Università degli Studi di Padova
7      22              104  Alma Mater Studiorum – Università di Bologna
8      23              103     Universidad Peruana de Ciencias Aplicadas
9      24              101      Università degli Studi di Milano-Bicocca
10     25               83             Universidad Complutense de Madrid
11     26               80           Universidad de San Martín de Porres
12     27               72                          Marquette University
13     28               68      Universidad Nacional Mayor de San Marcos
14     29               47                         24ORE Business School

### Scraping all open job positions

In [8]:
job_title = []
job_loc = []
date_posted = []


for i in range(0,50,25):
    
    url = f'https://www.linkedin.com/jobs/search/?currentJobId=3175812597&f_C=1799%2C2312083%2C3958%2C628407%2C1912194%2C1043302%2C2203697%2C16174260%2C3271599%2C1416071&geoId=92000000&start={i}'
    
    driver.get(url)
    sleep(1)
    
    for title in driver.find_elements_by_xpath('//a[@class="disabled ember-view job-card-container__link job-card-list__title"]'):
        if len(title.text)>0:
            job_title.append(title.text)
        else:
            job_title.append("No info")
        sleep(3)
        
    for loc in driver.find_elements_by_xpath("//li[@class='job-card-container__metadata-item']"):
        if len(loc.text)>0:
            job_loc.append(loc.text)
        else:
            job_loc.append("No info")
        sleep(3)
        
    for job in driver.find_elements_by_xpath('//time'):
        if len(job.text)>0:
            date_posted.append(job.text)
        else:
            date_posted.append("No info")
        sleep(3)

<ipython-input-8-a41d8cd91f4e>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for title in driver.find_elements_by_xpath('//a[@class="disabled ember-view job-card-container__link job-card-list__title"]'):
<ipython-input-8-a41d8cd91f4e>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for loc in driver.find_elements_by_xpath("//li[@class='job-card-container__metadata-item']"):
<ipython-input-8-a41d8cd91f4e>:27: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for job in driver.find_elements_by_xpath('//time'):

In [33]:
jt = job_title
jl = job_loc[0:285]
dp = date_posted[0:285]

In [34]:
manpower_open_jobs = pd.DataFrame( {
    
    'Job_Title':jt,
    'Location':jl,
    'Date_Posted':dp
})

In [35]:
manpower_open_jobs

,Job_Title,Location,Date_Posted
0,Lab Analyst (Shift/0 to 1 yr exp/Basic+Allow+A...,"Singapore, Singapore",3 days ago
1,Accounts Payable Clerk,"Miami, FL",13 hours ago\nWithin the past 24 hours
2,Business Analyst,"Singapore, Singapore",1 day ago
3,F&B Management Trainee | Basic From $2800,"Singapore, Singapore",3 weeks ago
4,Document Management Representative,"Fort Worth, TX",1 day ago
...,...,...,...
280,"Manager, Data Engineering","Dallas, TX",3 weeks ago
281,Senior People & Culture Business Partner,"Medical, 401(k)",Aug 24
282,Analista Programmatore (interno),"José León Suárez, Buenos Aires Province, Argen...",3 days ago
283,Loketbediende Brussels Airport,"Durham, NC",2 weeks ago
284,IT Quality Engineer,"Dubai, United Arab Emirates",6 days ago

In [13]:
driver.close()

## Extras

In [ ]:
# links = ['https://www.linkedin.com/jobs/search/?currentJobId=3191430062&f_C=6227&geoId=92000000&start=',
#          'https://www.linkedin.com/jobs/search/?currentJobId=3166438658&f_C=70373&geoId=92000000&start=',
#          'https://www.linkedin.com/jobs/search/?currentJobId=3215759756&f_C=20814&geoId=92000000&start',
#          'https://www.linkedin.com/jobs/search/?currentJobId=3173492203&f_C=3741&geoId=92000000&start=',
#          'https://www.linkedin.com/jobs/search/?currentJobId=3233581366&f_C=1463%2C676158%2C29005312&geoId=92000000&start=',
#          'https://www.linkedin.com/jobs/search/?currentJobId=3194935718&f_C=2736403%2C426966&geoId=92000000&start=',
#          'https://www.linkedin.com/jobs/search/?currentJobId=3239451628&f_C=1799%2C2312083%2C3958%2C628407%2C1912194%2C1043302%2C2203697%2C16174260%2C3271599%2C1416071&geoId=92000000&start='
#         ]

In [ ]:
comp = ['AMS','Cielo','PeolpleScout','Korn Ferry','RSR', 'ManpowerGroup Talent Solutions', 'WilsonHCG']

clients = ['Barclays', 'JPMorgan', 'Wells Fargo']

In [ ]:
# Next page logic for scrapy\

# next_page = response.xpath("//t/a/@href").get()

# if next_page:
#     yield scrapy.Request(response.urljoin(next_page))

In [ ]:
# Pagination with request method

# url ' https://something.com/books/page-{}.html'

# def start_requests(self):
#     for i in range(1,51):
#         yield scrapy.Request(self.url.format(i))