#### import packages

In [3]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
from time import sleep
import csv 
from lxml import etree
import pandas as pd
import numpy as np
from selenium.webdriver.common.by import By

print("Finish importing packages")

Finish importing packages

In [4]:
# provide chromedriver path

PATH = "C:\Webdrivers\Chromedriver 69\chromedriver.exe"


# Open Chrome and Access Linkedin login site

driver = webdriver.Chrome(PATH)
sleep(2)

print('Web driver is launched successfully')

<ipython-input-4-855cc3fcee5d>:8: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

Web driver is launched successfully

#### Extracting a data

In [5]:
# creating empty lists to store the data

job_title = []
reference = []
location = []
date_posted = []


# creating pagination

for num in range(0,11,10):
    
    url = f'https://wilsonhcg.avature.net/careers/SearchJobs/?jobOffset={num}'
    driver.get(url)
    sleep(15)
    
    for title in driver.find_elements_by_xpath('//div[@class="list__item__text__title"]'):
        job_title.append(title.text)
        
    for ref in driver.find_elements_by_xpath('//div[@class="list__item__text__subtitle"]/span'):
        reference.append(ref.text)
      
    for loc in driver.find_elements_by_xpath('//div[@class="list__item__text__subtitle"]/span'):
        location.append(loc.text)
      
    for date in driver.find_elements_by_xpath('//div[@class="list__item__text__subtitle"]/span'):
        date_posted.append(date.text)

<ipython-input-5-e64b6eba090d>:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for title in driver.find_elements_by_xpath('//div[@class="list__item__text__title"]'):
<ipython-input-5-e64b6eba090d>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for ref in driver.find_elements_by_xpath('//div[@class="list__item__text__subtitle"]/span'):
<ipython-input-5-e64b6eba090d>:23: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for loc in driver.find_elements_by_xpath('//div[@class="list__item__text__subtitle"]/span'):
<ipython-input-5-e64b6eba090d>:26: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for date in driver.find_elements_by_xpath('//div[@class="list__item__text__subtitle"]/span'):

In [6]:
job_title

['Bilingual Recruitment Consultant (Spanish Speaking)',
 'Coordinator, People & Culture (Bilingual – French)',
 'Corporate Counsel, Contracts Specialist',
 'Director of Recruiting Operations, Mexico',
 'Executive Search Recruiter',
 'Finance Talent Attraction Specialist (Investment Banking)',
 'Financial Recruitment Consultant',
 'Financial Recruitment Consultant (Consumer Product Banking)',
 'Recruitment Consultant',
 'Recruitment Operations Manager',
 'Recruitment Operations Manager, Exec. Search',
 'Sales Director (Claro)',
 'Talent Administrator & Coordinator',
 'Talent Administrator & Coordinator',
 'Talent Attraction Media Manager',
 'Talent Attraction Specialist',
 'Technical Recruitment Consultant']

In [7]:
reference

['United States.',
 'Job ID: 87408.',
 'Posted: 09-Aug-2022',
 'Category: Talent Acquisition',
 'Canada.',
 'Job ID: 89261.',
 'Posted: 30-Aug-2022',
 'Category: Human Resources',
 'United States.',
 'Job ID: 82575.',
 'Posted: 31-Aug-2022',
 'Category: Legal',
 'Guadalajara, Mexico.',
 'Job ID: 89498.',
 'Posted: 06-Sep-2022',
 'Tokyo, Japan.',
 'Job ID: 84529.',
 'Posted: 09-Sep-2022',
 'Category: Talent Acquisition',
 'United States.',
 'Job ID: 86406.',
 'Posted: 08-Sep-2022',
 'Category: Talent Acquisition',
 'United States.',
 'Job ID: 86407.',
 'Posted: 07-Sep-2022',
 'Category: Talent Acquisition',
 'United States.',
 'Job ID: 86409.',
 'Posted: 09-Sep-2022',
 'Category: Talent Acquisition',
 'Prague, Czech Republic.',
 'Job ID: 81098.',
 'Posted: 07-Sep-2022',
 'Category: Talent Acquisition',
 'Krakow, Poland.',
 'Job ID: 89431.',
 'Posted: 09-Sep-2022',
 'Category: Talent Acquisition',
 'Tokyo, Tokyo, Japan.',
 'Job ID: 88749.',
 'Posted: 09-Sep-2022',
 'Category: Talent Acquisition',
 'United States.',
 'Job ID: 89509.',
 'Posted: 02-Sep-2022',
 'Category: Sales/Business Development',
 'Krakow, Małopolskie, Poland.',
 'Job ID: 88174.',
 'Posted: 07-Sep-2022',
 'Category: Administrative/Clerical',
 'California, United States.',
 'Job ID: 87420.',
 'Posted: 07-Sep-2022',
 'Category: Administrative/Clerical',
 'United Kingdom.',
 'Job ID: 85956.',
 'Posted: 10-Aug-2022',
 'Category: Talent Acquisition',
 'United States.',
 'Job ID: 82065.',
 'Posted: 08-Sep-2022',
 'Category: Talent Acquisition',
 'Romania.',
 'Job ID: 83497.',
 'Posted: 07-Sep-2022',
 'Category: Talent Acquisition']

In [8]:
prac = pd.DataFrame(reference)

In [24]:
countries = prac[(prac[0].str.contains('Job|Posted|Category') == False)][0].tolist()

In [25]:
countries

['United States.',
 'Canada.',
 'United States.',
 'Guadalajara, Mexico.',
 'Tokyo, Japan.',
 'United States.',
 'United States.',
 'United States.',
 'Prague, Czech Republic.',
 'Krakow, Poland.',
 'Tokyo, Tokyo, Japan.',
 'United States.',
 'Krakow, Małopolskie, Poland.',
 'California, United States.',
 'United Kingdom.',
 'United States.',
 'Romania.']

In [26]:
reference = prac[(prac[0].str.contains('Job'))][0].tolist()

In [27]:
reference

['Job ID: 87408.',
 'Job ID: 89261.',
 'Job ID: 82575.',
 'Job ID: 89498.',
 'Job ID: 84529.',
 'Job ID: 86406.',
 'Job ID: 86407.',
 'Job ID: 86409.',
 'Job ID: 81098.',
 'Job ID: 89431.',
 'Job ID: 88749.',
 'Job ID: 89509.',
 'Job ID: 88174.',
 'Job ID: 87420.',
 'Job ID: 85956.',
 'Job ID: 82065.',
 'Job ID: 83497.']

In [28]:
date = prac[(prac[0].str.contains('Posted'))][0].tolist()

In [29]:
date

['Posted: 09-Aug-2022',
 'Posted: 30-Aug-2022',
 'Posted: 31-Aug-2022',
 'Posted: 06-Sep-2022',
 'Posted: 09-Sep-2022',
 'Posted: 08-Sep-2022',
 'Posted: 07-Sep-2022',
 'Posted: 09-Sep-2022',
 'Posted: 07-Sep-2022',
 'Posted: 09-Sep-2022',
 'Posted: 09-Sep-2022',
 'Posted: 02-Sep-2022',
 'Posted: 07-Sep-2022',
 'Posted: 07-Sep-2022',
 'Posted: 10-Aug-2022',
 'Posted: 08-Sep-2022',
 'Posted: 07-Sep-2022']

In [32]:
print(len(job_title))
print(len(countries))
print(len(reference))
print(len(date))

17
17
17
17

In [33]:
data = pd.DataFrame({
    
    'Job_Title':job_title,
    'Location':countries,
    'Reference':reference,
    'Date_Posted':date
})

In [34]:
data

,Job_Title,Location,Reference,Date_Posted
0,Bilingual Recruitment Consultant (Spanish Spea...,United States.,Job ID: 87408.,Posted: 09-Aug-2022
1,"Coordinator, People & Culture (Bilingual – Fre...",Canada.,Job ID: 89261.,Posted: 30-Aug-2022
2,"Corporate Counsel, Contracts Specialist",United States.,Job ID: 82575.,Posted: 31-Aug-2022
3,"Director of Recruiting Operations, Mexico","Guadalajara, Mexico.",Job ID: 89498.,Posted: 06-Sep-2022
4,Executive Search Recruiter,"Tokyo, Japan.",Job ID: 84529.,Posted: 09-Sep-2022
5,Finance Talent Attraction Specialist (Investme...,United States.,Job ID: 86406.,Posted: 08-Sep-2022
6,Financial Recruitment Consultant,United States.,Job ID: 86407.,Posted: 07-Sep-2022
7,Financial Recruitment Consultant (Consumer Pro...,United States.,Job ID: 86409.,Posted: 09-Sep-2022
8,Recruitment Consultant,"Prague, Czech Republic.",Job ID: 81098.,Posted: 07-Sep-2022
9,Recruitment Operations Manager,"Krakow, Poland.",Job ID: 89431.,Posted: 09-Sep-2022
10,"Recruitment Operations Manager, Exec. Search","Tokyo, Tokyo, Japan.",Job ID: 88749.,Posted: 09-Sep-2022
11,Sales Director (Claro),United States.,Job ID: 89509.,Posted: 02-Sep-2022
12,Talent Administrator & Coordinator,"Krakow, Małopolskie, Poland.",Job ID: 88174.,Posted: 07-Sep-2022
13,Talent Administrator & Coordinator,"California, United States.",Job ID: 87420.,Posted: 07-Sep-2022
14,Talent Attraction Media Manager,United Kingdom.,Job ID: 85956.,Posted: 10-Aug-2022
15,Talent Attraction Specialist,United States.,Job ID: 82065.,Posted: 08-Sep-2022
16,Technical Recruitment Consultant,Romania.,Job ID: 83497.,Posted: 07-Sep-2022

In [41]:
data['Reference'] = data['Reference'].str.strip('Job ID: .')

In [42]:
data.head()

,Job_Title,Location,Reference,Date_Posted
0,Bilingual Recruitment Consultant (Spanish Spea...,United States.,87408,Posted: 09-Aug-2022
1,"Coordinator, People & Culture (Bilingual – Fre...",Canada.,89261,Posted: 30-Aug-2022
2,"Corporate Counsel, Contracts Specialist",United States.,82575,Posted: 31-Aug-2022
3,"Director of Recruiting Operations, Mexico","Guadalajara, Mexico.",89498,Posted: 06-Sep-2022
4,Executive Search Recruiter,"Tokyo, Japan.",84529,Posted: 09-Sep-2022

In [43]:
data['Date_Posted'] = data['Date_Posted'].str.strip('Posted: ')

In [44]:
data.head()

,Job_Title,Location,Reference,Date_Posted
0,Bilingual Recruitment Consultant (Spanish Spea...,United States.,87408,09-Aug-2022
1,"Coordinator, People & Culture (Bilingual – Fre...",Canada.,89261,30-Aug-2022
2,"Corporate Counsel, Contracts Specialist",United States.,82575,31-Aug-2022
3,"Director of Recruiting Operations, Mexico","Guadalajara, Mexico.",89498,06-Sep-2022
4,Executive Search Recruiter,"Tokyo, Japan.",84529,09-Sep-2022

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Job_Title    17 non-null     object
 1   Location     17 non-null     object
 2   Reference    17 non-null     object
 3   Date_Posted  17 non-null     object
dtypes: object(4)
memory usage: 672.0+ bytes

In [46]:
data.to_excel('Wilson.xlsx')

In [13]:
driver.close()